<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no"/>
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Index</title>
</head>
<body>
	<div class="container">
		<h3>프로젝트 만들기</h3>
		<form name="projectForm" method="post" action="/project/create" class="projectForm">
			<div class="form-group">
				<input type="text" name="projectName" placeholder="Enter the project name" autocomplete="off" id="projectName"/>
				<input type="hidden" th:value="${session.loginInfo.id}" name="admin_id" id="admin_id" />
			</div>
			<button>생성하기</button>
		</form>
		<div class="result"><p></p></div>
	</div>
</body>
</html>