<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no" />
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.2.1/script/jquery.jscrollpane.js"></script>
<script src="/resources/js/jQuery-Mousewheel-3.1.12.js"></script>
<title>project view</title>
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.2.1/style/jquery.jscrollpane.css" integrity="sha256-5X6NN3xhW8S+VZA9dxOD5atCDiveHTBd3DtSu0Nut6E=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/resources/css/chat.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="window-wrapper">
		<div class="window-title">
			<div class="title">
				<span>[[${projectDTO.projectName}]]</span>
			</div>
		</div>
		<div class="window-area">
			<div class="conversation-list">
				<ul class="">
					<li th:each="list : ${channelList}">
						<a th:href="@{/project/view(project_id=${param.project_id}, channel_id=${list.id})}">[[${list.channelName}]]</a>
					</li>
					<li th:if="${projectDTO.admin_id} == ${session.loginInfo.id}">
						<a id="channel_add">+ 채널 추가하기</a>
					</li>
				</ul>
			</div>
			<div class="chat-area">
				<div class="title" id="channel-title">
					<b>[[${channelNow}]]</b>
				</div>
				<div class="chat-list">
					<ul class="chat-list-ul">
						<li th:each="chatLog : ${chatLog}">
							<div class="name">
								<span class="">[[${chatLog.nickName}]]</span>
							</div>
							<div class="message">
								<p>
									[[${chatLog.message}]]
								</p>
								<span class="msg-time">[[${#dates.format(chatLog.sendDate, 'MM/dd aa hh:mm')}]]</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="input-area">
					<div class="input-wrapper">
						<form class="form-inline">
							<input type="hidden" th:value="${session.loginInfo.id}" name="member_id" id="member_id" />
							<input type="hidden" th:value="${param.channel_id}" name="channel_id" id="channel_id" />
							<input type="hidden" th:value="${session.loginInfo.nickName}" name="nickName" id="nickName" />
							<input type="text" value="" id="chatMessage">
							<input type="submit" value="Submit" class="send-btn" id="chatSend">
						</form>
					</div>
				</div>
			</div>
			<div class="right-tabs">
				<ul class="tabs-container">
					<li class="active">
						<ul class="member-list">
							<li th:each="memberList : ${memberList}"><span>[[${memberList.nickName}]]</span></li>
							<li th:if="${projectDTO.admin_id} == ${session.loginInfo.id}">
								<a id="member_add">+ 팀원 초대하기</a>
							</li>
						</ul>
					</li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="myModalChannel" class="modal">
      <!-- Channel 추가 Modal content -->
      <div class="modal-content">
                <p style="text-align: center;"><span><b><span style="font-size: 14pt;">채널 추가하기</span></b></span></p>
                <p style="text-align: center; line-height: 1.5;"><br />채널 이름</p>
                <form class="form-inline" id="add_channel_form" name="add_channel_form" method="post">
                	<input type="hidden" th:value="${param.project_id}" name="project_id"/>
                	<input type="text" name="channelName" id="modal_channel_name">
                </form>
                <p><br /></p>
                <button id="modal_submit_btn">생성하기</button>
                <button id="modal_close_btn" onclick="close_pop()">취소하기</button>
      </div>
    </div>
	<div id="myModalMember" class="modal">
      <!-- Member 추가 Modal content -->
      <div class="modal-content">
                <p style="text-align: center;"><span><b><span style="font-size: 14pt;">멤버 추가하기</span></b></span></p>
                <p style="text-align: center; line-height: 1.5;"><br />멤버 이메일</p>
                <form class="form-inline" id="add_member_form" name="add_member_form" method="post">
                	<input type="hidden" th:value="${param.project_id}" name="project_id"/>
                	<input type="text" name="email" id="modal_member_eamil">
                </form>
                <p><br /></p>
                <button id="modal_invite_btn">초대하기</button>
                <button id="modal_close_btn" onclick="close_pop()">취소하기</button>
      </div>
    </div>
	<script src="/resources/js/app.js"></script>
	<script type="text/javascript">
		const channel_add = document.querySelector("#channel_add");
		const member_add = document.querySelector("#member_add");
		const modal_submit_btn = document.querySelector("#modal_submit_btn");
		const modal_invite_btn = document.querySelector("#modal_invite_btn");
		
		modal_submit_btn.addEventListener("click", function(event){
			event.preventDefault();
			var queryString = $("form[name=add_channel_form]").serialize();
			 
	        $.ajax({
	            type : 'post',
	            url : '/channel/create',
	            data : queryString,
	            dataType : 'json',
	            success : function(xhr, status, result){
	                close_pop();
	                window.location.reload();
	            },
	        });
		});
		
		modal_invite_btn.addEventListener("click", function(event){
			event.preventDefault();
			var queryString = $("form[name=add_member_form]").serialize();
			 
	        $.ajax({
	            type : 'post',
	            url : '/project/invite',
	            data : queryString,
	            dataType : 'json',
	            success : function(xhr, status, result){
	                close_pop();
	                window.location.reload();
	            },
	        });
		});
		
		
		member_add.addEventListener("click", function(event){
			event.preventDefault();
			$('#myModalMember').show();
		});
		
		channel_add.addEventListener("click", function(event){
			event.preventDefault();
	        $('#myModalChannel').show();
		});
		
		function close_pop(flag) {
			$("#modal_channel_name").val('');
			$("#modal_member_email").val('');
    		$('#myModalChannel').hide();
    		$('#myModalMember').hide();
		};


	</script>
</body>
</html>