<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no" />
<title>Index</title>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/app.js"></script>
</head>
<body>
	<div class="container">
		<h1>Test Itmes</h1>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">column1</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, stat : ${list}">
					<td th:text="${item.column1}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>