<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no"/>
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Index</title>
</head>
<body>
	<div class="container">
		<h3>Login</h3>
		<form name="loginForm" method="post" action="/member/login" class="loginForm">
			<div class="form-group">
				<input type="text" name="email" placeholder="Enter your email" autocomplete="off" id="email"/>
			</div>
			<div class="form-group">
				<input type="password" name="pw" placeholder="Enter your password" id="pw"/>
			</div>		
			<button>Login</button>
		</form>
	</div>
	
	<script type="text/javascript">
	function handleLoginSubmit(event){
		event.preventDefault();
		var email = $("#email").val();
		var pw = $("#pw").val();
		var data = {
			email: email,
			pw:pw
		}
		alert(data.email)
		alert(data.pw)
		
		$.ajax({
			type:"post",
			url:'/member/login',
			data:JSON.stringify(data),
			contentType:"application/json; charset=utf-8",
			success:function(result, status, xhr){
				if(callback){
					callback(result);
					console.log(result);
					console.log(status);
				}
			},
			error:function(xhr, status, er){
				if(error){
					error(er);
				}
			}
		})
	}
	
	function init() {
		const form = document.querySelector(".loginForm");
		form.addEventListener("submit", handleLoginSubmit);	
	}
	
	init();
	</script>
</body>
</html>